 .item {
	margin: 25px 0px;
	display: flex;
	flex-direction: column;
	background-color: #39423D;
	border-radius: 12px;
}

 .postHeader {
	text-align: center;
	padding: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.postInfo {
	display: flex;
	flex-direction: column;

	height: 50px;
	padding-left: 10px;

	justify-content: space-evenly;
	align-items: flex-start;
}

.postName {
	align-items: flex-start;
	font-weight: 800;
	color: orange;
}

.postDate {
	align-items: flex-end;
}

.postHeader img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 4px orange;
	object-fit: cover;
 }

 .postMessage {
	text-align: center;
	padding: 12px;
	text-align: inherit;
	line-height: 18px;
 }

 .postLikes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	text-align: center;
	padding: 12px;
	color: orange;
 }
